*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

.wrapper {
	width: 90%;
	max-width: 800px
	margin: auto;
}

.service {
	background: #f9f9f9;
	border-radius: 3px;
	margin: .5em auto;
	padding: 1em;
	text-align: left;
}

.request {
	margin-top: 1.5em;
}

.request p {
	float: left
}

.request .btn {
	float: right;
	position: relative;
	top: -.5em;
}

.request, .form {
	color: #fff;
	text-align: left;
}

form > * {
	display: block;
	width: 100%;
	padding: 10px 13px 8px;
	border-radius: 4px;
	margin-bottom: 1em;
}

input[type=text], input[type=email], input[type=url], textarea {
	background-color: #f9f9f9;
	border: 1px solid #ccc;
}

label {
	padding: 0;
	margin: 0;
}

label:last-of-type {
	margin-bottom: 1em;
}
