body {
	background: url(../img/background.jpg);
	background-size: cover;
	color: #000;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 300;
	min-height: 100%;
	width: 100%;;
	text-align: center;
	margin-bottom: 2em;
}

.logo {
	color: #fff;
	font-family: 'Changa One', Cursive;
	font-size: 3em;
	letter-spacing: .02em;
	padding: .75em;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .15),
					-1px -1px 0 rgba(0, 0, 0, .15),
					2px 2px 0 rgba(0, 0, 0, .15),
					-2px -2px 0 rgba(0, 0, 0, .15),
					3px 3px 0 rgba(0, 0, 0, .15),
					-3px -3px 0 rgba(0, 0, 0, .15),
					4px 4px 0 #2A9393,
					-4px -4px 0 #2A9393;
	text-transform: uppercase;
}

.sectionH {
	border-bottom: 1px solid #f9f9f9;
	color: #fff;
	font-size: 1.7em;
	font-weight: 400;
	margin-bottom: .5em;
	padding-bottom: .25em;
}

h3 {
	font-weight: 400;
	margin-bottom: .75em;
}

.description, .why {
	margin-bottom: .5em;
}

.why {
	list-style: disc inside;
	color: #444;
}

.form p {
	margin-bottom: 1em;
}
